extends ../layout.pug

block content
  p Hello!
  p
    |#{employeeName} is seeking for your approval on below trip request: #{tripName}
    br
    | Start date: #{startDate}
    br
    | End date: #{endDate}
  p.
    Service request:
  
  if (isFlightSelected)
    p
      | - Flight:
      br
      | #{flight}
      br
      |departure: #{departDate}

    if (isRoundTrip)
      br
      | return: #{returnDate}

  if (isLogingSelected)
    p.
      - Lodging: #{regionName},
      checkin: #{checkInDate}, 
      checkout: #(checkOutDate)

  if (isTransportationSelected)
    p.
      - Transportation: #{daysOfTrip} day(s)

  if (isMealSelected)
    p.
      - Daily meal: #{daysOfTrip} day(s)

  if (isOthersSelected)
    p.
      - Other: #{other}
    p.
      - Note: #{note}

  p.
    Estimated budget: #{budget}
  p.
      Still need help?
      Please feel free to contact us if you have any questions, comments or suggestions.
      - Happy travels,
      - The EzBizTrip team`