extends ../layout.pug

block content

  div.banner
    img(
      alt=""
      src="https://cdn2.hubspot.net/hub/6193707/hubfs/business-travel.jpg?width=550&name=business-travel.jpg")

  h2 Hello, #{name}! Your trip booking is confirmed

  p.text-center
    a(class='btn yellow' href= tripLink) View trip detail
  
  if (flightOrders.length > 0)
    h2 Flights
    each order in flightOrders
      if (order.pnr)
        h3 PNR #{order.pnr}
      h3 Departure Flights
      div
        each segment in order.flight.departureSegments
          ul
            li Departure #{segment.departure}
            li Departure time #{segment.departureTime}
            li Arrival #{segment.arrival}
            li Arrival time #{segment.arrivalTime}

      if (order.flight.returnSegments.length > 0)
        h3 Return Flights
        div
          each segment in order.flight.returnSegments
            ul
              li Departure #{segment.departure}
              li Departure time #{segment.departureTime}
              li Arrival #{segment.arrival}
              li Arrival time #{segment.arrivalTime}

      h3 Passengers
      ul
        each passenger in order.passengers
          li #{passenger.title} #{passenger.lastName} #{passenger.firstName} (#{passenger.businessEmail})

      h3 Contact
      p Email #{order.contactInfo.email}
      p Phone #{order.contactInfo.phone}
      p name #{order.contactInfo.lastName} #{order.contactInfo.name}

      h3 Total price: #{order.totalPrice} #{order.currency}

      h3 Payment #{order.payment.brand} #{order.payment.last4}

      hr

  if (hotelOrders.length > 0)
    each order in hotelOrders
      h2 #{order.hotel.name}
      ul
        li Confirmation code: #{order.customerCode}
        li Hotel: #{order.hotel.name}
        li Address: #{order.hotel.address}
        li City: #{order.hotel.cityName}, #{order.hotel.country}
        li Room: #{order.hotel.roomName}
        li Number of rooms: #{order.hotel.numberOfRoom}
        li Included: #{order.hotel.boardName}
        if (order.hotel.phones)
          li Phones: 
            each phone in order.hotel.phones
              <span>#{phone.phoneNumber}, <span>
        li Check-in date: #{order.hotel.checkInDate}
        li Check-out date: #{order.hotel.checkOutDate}

      h3 Passengers
      ul
        each passenger in order.passengers
          li #{passenger.title} #{passenger.firstName} #{passenger.lastName} (#{passenger.businessEmail})

      if (order.childrenInfo.length > 0)
        h3 Children Details
        ul
          each child in order.childrenInfo
            li #{child.firstName} #{child.lastName}. Age: #{child.age}

      h3 Contact
      p Email #{order.contactInfo.email}
      p Phone #{order.contactInfo.phone}
      p name #{order.contactInfo.lastName} #{order.contactInfo.name}

      h3 Total price: #{order.totalPrice} #{order.currency}

      h3 Payment #{order.payment.brand} #{order.payment.last4}

      hr
    p.text-center
    a(class='btn' href= tripLink) View hotel detail
